#qna {
  display: none;
}


.answerList {
  background-color: white;
  border-radius: none;
  display: block;
  border: 0px;
}


.status {
  height: 5px;
  width: 80%;
  background-color: white;
  border-radius: 20px;
}

.statusBar {
  height: 100%;
  border-radius: 20px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+45,ff5c5c+100;Red+3D+%231 */
  background: white; /* Old browsers */
  background: -moz-linear-gradient(top,  #535151 0%, #373535 45%, #000000 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #535151 0%, #373535 45%, #000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #535151 0%, #373535 45%, #000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febbbb', endColorstr='#ff5c5c',GradientType=0 ); /* IE6-9 */
}