<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>login page</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
        <style>
        * {
            font-family: 'Nanum Gothic', sans-serif;
        }
        </style>
    </head>
    <body>
        <div style = "text-align: center; ">
            <img src="logo.png" alt="btnImages" style="width: 300px; height: 120px; margin-top: 20%">
            <div class="col-2" 
                style="
                line-height: 3cm;
                font-size: x-large;
                text-align: center;
                margin-top: 30px;">
                <a href="../Login/login.html" style = "line-height: 5cm; text-decoration: none; color: black; padding-right:100px;">LOGIN</a>
                <a href="../Sort/sort.html" style = "line-height: 5cm; text-decoration: none; color: black;">LIST</a>
            </div>
        </div>
    </body>
</html>
